@model HouseholdManager.Web.Areas.Household.Models.ShowExpenseViewModel

@{ 
    var modalTarget = "#" + Model.Id;
}

<div class="col-md-4 expense-container">
    <h3>@Model.Name</h3>
    <span>@Model.Category</span>
    <span>Created by: @Model.CreatedBy</span>
    <span>Created on: @Model.CreatedOn.ToShortDateString()</span>
    <br />
    <span>Expected cost: </span><strong>@Model.ExpectedCost</strong>
    @if (Model.AssignedUser != null)
    {
        <span>User assigned: </span><strong>@Model.AssignedUser</strong>
    }
    <span>Due date: @Model.DueDate.ToShortDateString()</span>

    <button type="button" class="btn btn-success" data-toggle="modal" data-target=@modalTarget>PAY</button>

    <div id=@Model.Id class="modal fade" role="dialog">
        @using (Html.BeginForm("Pay", "Expenses", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title text-center page-header">@Model.Name</h4>
                    </div>
                    <div class="modal-body">
                        @Html.HiddenFor(m => m.Id)
                        @Html.HiddenFor(m => m.Name)

                        <h5>How much did you pay:</h5>
                        @Html.ValidationMessageFor(m => m.Cost, "", new { @class = "text-danger" })
                        @Html.TextBoxFor(m => m.Cost, new { @class = "form-control" })
                        <h5>Do you have any comments?</h5>
                        @Html.TextAreaFor(m => m.Comment, new { @class = "form-control" })
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="CANCEL" data-dismiss="modal" class="btn btn-danger" />
                        <input type="submit" value="PAY" class="btn btn-success" />
                    </div>
                </div>

            </div>
        }
    </div>
   
</div>