@using HouseholdManager.Common.Constants
@model HouseholdManager.Web.Areas.Household.Models.ExpenseViewModel
@{
    var householdName = this.Request.Cookies[CommonConstants.CurrentHousehold]?[CommonConstants.CurrentHouseholdName];
}

<div class="row text-center">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <h3>@Model.Name</h3>
        <p class="color-grey">&bull; @Model.Category</p>
        <hr />
    </div>
</div>

<div class="row expense-details">
    <div class="col-md-3 col-md-offset-3 col-sm-4 col-sm-offset-2 col-xs-6">
        <ul>
            <li>
                <strong>@Html.DisplayNameFor(m => m.CreatedBy): </strong><span>@Model.CreatedBy</span>
            </li>
            <li>
                <strong>@Html.DisplayNameFor(m => m.AssignedUser): </strong><span>@Model.AssignedUser</span>
            </li>
            <li>
                <strong>@Html.DisplayNameFor(m => m.ExpectedCost): </strong><span>$@Model.ExpectedCost</span>
            </li>
            <li>
                <strong>@Html.DisplayNameFor(m => m.PaidBy): </strong><span>@Model.PaidBy</span>
            </li>

        </ul>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
        <ul>
            <li>
                <strong>@Html.DisplayNameFor(m => m.CreatedOn): </strong><span>@Model.CreatedOn</span>
            </li>
            <li>
                <strong>@Html.DisplayNameFor(m => m.DueDate): </strong><span>@Model.DueDate.ToShortDateString()</span>
            </li>
            <li>
                <strong>@Html.DisplayNameFor(m => m.Cost): </strong>
                @if (Model.Cost.ToString() != "0.00")
                {
                    <span>$@Model.Cost</span>
                }
            </li>
            <li>
                <strong>@Html.DisplayNameFor(m => m.PaidOnDate): </strong>
                <span>@Model.PaidOnDate</span>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <hr class="hr-bot" />
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
        <div class="expense-btns">
            @Html.ActionLink("EDIT", "Edit", "Expense", new { name = householdName, id = Model.Id }, new { @class = "btn btn-success" })
            @using (Html.BeginForm("Delete", "Expense", FormMethod.Post, new { @class = "form-horizontal exp-delete", role = "form" }))
            {
                @Html.HiddenFor(m => m.Id);
                <input type="submit" value="DELETE" class="btn btn-danger" />
            }
        </div>
    </div>
</div>

<br/>

<div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center" id="comments-container">
        @Ajax.ActionLink("SHOW COMMENTS", "Index", "Comments", new { area = "Comments", expenseId = Model.Id }, new AjaxOptions
           {
               InsertionMode = InsertionMode.Replace,
               UpdateTargetId = "comments-container",
               LoadingElementId = "loading-element",

           }, new { @class = "btn btn-info" }
       )

        <div id="loading-element" style="display:none">
            <img src="http://happywheelsez.com/themes/game_gamesgames/resources/css/images/loading.gif" alt="Loading" />
        </div>
    </div>
</div>
