@using HouseholdManager.Common.Constants
@{
    var householdName = this.Request.Cookies[CommonConstants.CurrentHousehold]?[CommonConstants.CurrentHouseholdName];
    var isAdmin = User.IsInRole("Admin");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HouseholdManager</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-unobtrusive")
    @RenderSection("kendoScripts", required: false)
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("HouseholdManager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand trigger-loading" })
        </div>
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (!String.IsNullOrEmpty(householdName))
                    {
                        <li class="nav-link">@Html.RouteLink("Household", "Household_single", new { area = "", name = householdName }, new { @class = "trigger-loading" })</li>
                        <li class="nav-link">@Html.ActionLink("Expenses", "Index", "Expenses", new { area = "Household", name = householdName }, new { @class = "trigger-loading" })</li>
                        <li class="nav-link">@Html.ActionLink("Add item", "Create", "Expense", new { area = "Household", name = householdName }, new { @class = "trigger-loading" })</li>
                        <li class="nav-link">@Html.ActionLink("History", "History", "Expenses", new { area = "Household", name = householdName }, new { @class = "trigger-loading" })</li>
                        if (@isAdmin)
                        {
                            <li class="dropdown nav-link">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Admin
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Users", "Index", "Users", new { area = "Admin" }, new { @class = "trigger-loading" })</li>
                                    <li>@Html.ActionLink("Households", "Index", "Households", new { area = "Admin" }, new { @class = "trigger-loading" })</li>
                                </ul>
                            </li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="loading-main hide">
            <img src="http://happywheelsez.com/themes/game_gamesgames/resources/css/images/loading.gif" alt="Loading" />
        </div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/main")
    @RenderSection("scripts", required: false)
</body>
</html>
