@model HouseholdManager.Web.Areas.Household.Models.ExpenseViewModel

@section styles {
    @Styles.Render("~/Content/kendo/css")
}

@section kendoScripts {
    @Scripts.Render("~/bundles/kendo")
}
    <div class="row">
        <div class="col-md-12">
            <h2 class="header-page text-center">Add item or bill</h2>

            @using (Html.BeginForm("Create", "Expense", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Category, new { @class = "col-md-2 control-label" })
                    @Html.ValidationMessageFor(m => m.Category, "", new { @class = "text-danger" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.Category, Model.Categories, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ExpectedCost, new { @class = "col-md-2 control-label" })
                    @Html.ValidationMessageFor(m => m.ExpectedCost, "", new { @class = "text-danger" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.ExpectedCost, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.DueDate, new { @class = "col-md-2 control-label" })
                    @Html.ValidationMessageFor(m => m.DueDate, "", new { @class = "text-danger" })
                    <div class="col-md-10">
                        @(Html.Kendo().DatePickerFor(m => m.DueDate)
                        .Value(DateTime.Now)
                        .Format("yyyy/MM/dd")
                        )
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.AssignedUser, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.AssignedUser, Model.Users, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Comment, new { @class = "col-md-2 control-label" })
                    @Html.ValidationMessageFor(m => m.Comment, "", new { @class = "text-danger" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.Comment, new { @class = "form-control" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="SUBMIT" class="btn btn-default" />
                    </div>
                </div>
            }
        </div>
    </div>


@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
