@model HouseholdManager.Web.Models.ProfileViewModel
@section styles {
    @Styles.Render("~/Content/profile-css")
}
<div class="row text-center">
    <div class="col-md-12 profile-container">
        <h2 class="header-page">@Model.FullName</h2>
        <div>
            Name <br /><strong>@Model.FullName</strong>
        </div>
        <div>
            Email <br /><strong>@Model.Email</strong>
        </div>
        <div>
            Phone number <br /><strong>@Model.PhoneNumber</strong>
        </div>
        @if (Model.Invitations.Count > 0)
        {
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h3 class="color-purple">Household Inivations: @Model.Invitations.Count</h3>
                    @foreach (var invitation in Model.Invitations)
                    {
                        <div class="hh-container">
                            @invitation.Key
                            @Html.ActionLink("Accept", "AcceptInvitation", "Profile", new { area = "", invitationId = invitation.Value, household = invitation.Key }, new { })
                        </div>
                    }
                </div>
            </div>
        }

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h3 class="color-purple">Your Households: @Model.Households.Count</h3>
                @foreach (var household in Model.Households)
                {
                    <div class="hh-container">
                        @Html.ActionLink(household, "SetCurrentHousehold", "Household", new { area = "Household", name = household }, new { @class = "trigger-loading" })
                    </div>
                }
            </div>
        </div>
        <div>
            @Html.ActionLink("ADD HOUSEHOLD", "Create", "Household", new { }, new { @class = "btn btn-success loading-trigger" })
        </div>
    </div>
</div>